/*  Colors
    Blue: #006eff
    Light blue: #00aeff */

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    /* ----------- Universal styles ----------- */
    
    body {
        font-family: 'Poppins', sans-serif;
        color: #006eff;
    }
    
    .padded        {padding: 5%;}
    .padded-s      {padding: 1rem;}
    .padded-l      {padding: 10%;}
    
    .bg-blue {
        background-color: #006eff;
        color: white;
    }
    
    .tall-50        {min-height: 50vh;}
    .tall-60        {min-height: 60vh;}
    .tall-70        {min-height: 70vh;}
    .tall-80        {min-height: 80vh;}
    .tall-90        {min-height: 90vh;}
    .tall-100       {min-height: 100vh;}
    
    /* ----------- Typography styles ----------- */
    
    h2, h3, h4, h5, h6 {
        margin-bottom: 1rem;
        line-height: 1.4;
    }
      
    h2 {
        font-size: 2.5rem;
    }
    
    p {
        font-weight: 400;
        line-height: 1.5;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
    
    a {
        color: #006eff;
        text-decoration: none;
    }
    
    a:hover {
        color: #00aeff;
    }
    
    .text-left      {text-align: left;}
    .text-center    {text-align: center;}
    .text-right     {text-align: right;}
    
    .highlight      {color: #006eff;}
    .white          {color: white;}
    
    .small-text     {font-size: 1.5rem;}
    
    .medium-text    {
        font-size: 2rem;
        line-height: 1.5;
    }
    .big-text       {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.05em;
    }
    
    .subtitle       {
        font-size: 1.2rem;
        color:rgb(120,120,125);
    }
    
    .quotation-marks {
        font-size: 6rem;
        display: inline-block;
        color:rgb(120,120,125);
        line-height: 1;
    }

    .light-weight   {font-weight: 200;}
    .normal-weight  {font-weight: normal;}
    .bold-weight    {font-weight: 800;}

    /* ----------- Image styles ----------- */
   
    .bg-ocean {
        background-image: url('images/waves_cafe_ocean.jpg');
        background-position: 0% 50%;
        background-size: cover;
    }

    .bg-light {
        background-image: url('https://source.unsplash.com/YQD1Xljt4xo');
        background-position: 50% 80%;
        background-size: cover;
        max-width: 100%;
    }    

    .bg-background {
        background-image: url('images/waves_cafe_background.jpg');
        background-size: cover;
    }

    .bg-woman      {
        background-image: url('images/waves_cafe_woman.jpg');
        background-position: 50% 50%;
        background-size: cover;
    }
    
    .bg-coffee     {
        background-image: url('images/waves_cafe_coffee.jpg');
        background-position: 50% 30%;
        background-size: cover;
    }

    .bg-table      {
        background-image: url('images/waves_cafe_table.jpg');
        background-position: 50% 60%;
        background-size: cover;
    }
    
    .bg-logo      {
        background-image: url('images/waves_logo.png');
        background-position: 50% 60%;
        background-size: cover;
    }

    .landscape {padding-bottom: 65%;}
    .portrait {padding-bottom: 125%;}
    .square {padding-bottom: 100%;}    
    
    /* ----------- Header/Footer styles ----------- */
        
    header h3 {
        font-size: 5.5rem;
        text-transform: lowercase;
        line-height: 1.2;
    }

    nav a {
        font-size: 1.5rem;
        padding: 0rem 1rem;
    }
    
    footer a {
        color: white;
        border-bottom: 1px solid white;
    }
    
    /* ----------- Icon styles ----------- */
    
    .fas {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    
    /* ----------- Button styles ----------- */

    .big-button a{
        font-size: 3.5rem;
        color: #006eff;
        border: 4px solid;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        display: inline-block;
        padding: 1rem 2rem;
    }

    .big-button a:hover {
        font-size: 3.5rem;
        color: white;
        background-color: #006eff;
        border: 4px solid #006eff;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        display: inline-block;
        padding: 1rem 2rem;
    }


    .big-button-white a{
        font-size: 3.5rem;
        color: white;
        border: 4px solid;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        display: inline-block;
        padding: 1rem 2rem;
    }

    .big-button-white a:hover {
        color: #006eff;
        font-size: 3.5rem;
        background-color: white;
        border: 4px solid white;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        display: inline-block;
        padding: 1rem 2rem;
    }

    .small-button {
        color: #006eff;
        font-size: 1.5rem;
        border: 2px solid #006eff;
        display: inline-block;
        padding: 0.5rem 1rem;
        margin: 0rem 0.5em;
    }

    .small-button:hover {
        color: white;
        background-color: #006eff;
        font-size: 1.5rem;
        border: 2px solid #006eff;
        display: inline-block;
        padding: 0.5rem 1rem;
        margin: 0rem 0.5em;
    }